<nav class="navbar">
        <div class="rightnav">
            <form action="/logout" method="POST">
                <button>Logout</button>
        </div>
    </nav>
    <div class="container">
        <div class="box">
            <a class="a" href="/newForm"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
            <div class="hide">Create New form</div>
            <h1>FORMS YOU CREATED TILL NOW</h1>
            <div class="row">
                <div class="subject">Maths</div>
                <div class="fixedItems">
                    <div class="date">20/07/2021</div>
                    <a href="https://www.google.com" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="https://www.google.com" class="download"><i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
            </div>
            <br>
          
            <div class="row">
                <div class="subject">Physics</div>
                <div class="fixedItems">
                    <div class="date">20/07/2021</div>
                    <a href="https://www.google.com" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="https://www.google.com" class="download"><i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script>
    
</script>