* {
  padding: 5px;
}

body {
  font-family: Arial, helvetica, sans-serif;
}

.container{
  padding-top: 50px;
  width:700px;
  margin-left:auto;
  margin-right: auto;
}

.ic:hover
{
  transform: scale(1.2);
}
#main{
  padding:0px;
}
.box {
  color: black;
  padding: 10px;
  background-color:rgb(243, 245, 235);
  padding: 10px;
  padding-left:25px;
  padding-right:25px;
  margin-top: 10px;
  border-radius: 12px;
}
.form_title{
  border-top: 10px solid green;
}
.box label{
    font-weight: bold;
}

input {
  width: 95%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 0;
  border-radius: 12px;
  font-size: 15px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.06);
  cursor:inherit;
  outline: none;
}

.form_title input{
  background-color: rgb(239, 241, 231);
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
  padding: 5px 5px;
  color:black;
}
.box input{

    background-color: rgb(239, 241, 231);
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
    padding: 5px 5px;
    color:black;
  }

.form_title input:nth-child(1){
  font-size: 18px;
}
.form_title input:nth-child(2){
    font-size: 13px;
}
.gone:hover{
  transform: scale(1.2);
}
.sample-text{
  color:grey;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  width:50%;

}
.option-input{
  background-color: rgb(239, 241, 231);
  border-bottom: 1px solid lightgrey;
  box-shadow: none;
  padding-top: 20px;
  border-radius: 0px;
  margin-bottom: 10px;
  width:200px;
}
.seperator{
  height:20px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

textarea {
  border: 0;
  border-radius: 12px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  outline: none;
  width: 95%;
}
.icon-bar {
  position: fixed;
  top: 20%;
  right: 50px;
  margin-top: 30px;
  width: 50px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 215, 215);
  border-radius: 10px;
  padding:0px;
  background-color: #f1f0f5;
}

.icon-bar i{
color:black;
font-size: 25px;
margin-top: 15px;
margin-bottom: 15px;
cursor: pointer;
text-align: center;
}
.icon-bar .add-elements{
text-align: center;
padding:5px;
font-size: 18px;
border-bottom: 2px solid green;
background-color: green;
font-weight: bold;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
color:white;
}
.question-control{
  width: 150px;
  margin-left:70%;
}
.question-control .required{
  float:left;
  padding-top:15px;
}
.question-control .required span{
  color: rgb(66, 65, 65);
  font-size: 13px;
}
.toggle {
  position : relative ;
  display : inline-block;
  width : 30px;
  height : 10px;
  padding: 0px;
  background-color: rgb(248, 246, 246);
  border-radius: 30px;
  border: 2px solid gray;
  cursor: pointer;
}
      
/* .toggle:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
  top: -3px; 
  left: -3px;
  transition:  all 0.5s;
} */
.toggleHelper {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  top: -4px; 
  left: -3px;
  transition:  all 0.5s;
}
   
/* .checkbox:checked + .toggle::after {
  left : 17px; 
}

.checkbox:checked + .toggle {
  background-color: rgb(111, 217, 243);
  border: 2px solid rgb(111, 217, 243);
} */

.checkbox { 
  display : none;
}

.delete{
cursor: pointer;
font-size: 25px;
margin-left: 120px; 
padding:5px;
color: rgb(136, 135, 135);
}
.delete:hover{
color:black;
}

.plus{
cursor: pointer;
font-size: 25px;
/* margin-left: 120px;  */
padding:5px;
color: rgb(136, 135, 135);
}
.plus:hover{
color:black;
}
.result{
margin-top:30px;
}
.create-button{
float:left;
}
.cancel-button{
margin-left:120px;
background-color: rgb(201, 6, 6);
}
.option_delete{
  background-color: Transparent;
    /* background-repeat:no-repeat; */
    border: none;
    cursor:pointer;
    /* overflow: hidden;  */
    font-weight: 1000px;
    font-size: large;
}
.option_delete:hover{
  transform: scale(1.3);
}
.create-button, .cancel-button{
padding:10px;
font-size: 18px;
padding-left:20px;
padding-right: 20px;
width: 60px;
font-weight: bold;
color:white;
border-radius: 10px;
cursor: pointer;
}
.up,.down{
  padding:10px;
  color: gray;
font-size: 18px;
padding-left:20px;
padding-right: 20px;
/* width: 60px; */
font-weight: bold;
/* color:white; */
border-radius: 10px;
cursor: pointer;
/* background-color: none; */
border: none;
background-color:rgb(243, 245, 235);
/* transform: scale(1.2); */
}

.up:hover,.down:hover{
  color: black;
}

.create-button{
background-color: green;

}
@media screen and (max-width: 1050px) {
.container{
  padding-top: 50px;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}
.icon-bar{
  right: 20px;
}
}

@media screen and (max-width: 800px) {
.container{
  padding-top: 50px;
  width: 88%;
  margin-left:10px;
  margin-right: auto;
}
.icon-bar{
  right: 0px;
}
}

@media screen and (max-width: 650px) {
.question-control{
  margin-left:60%;
}
}